.App {
  text-align: center;
}
body{
  margin: 0px;
  padding: 0px;
  background-color: rgb(222, 222, 222);
}

/** imported from pages.css*/
.inputFields{
  padding: 0.5px;
  text-align: center;
  border-style: solid;
  border: 10px;
  border-color: rgb(231, 43, 43);
}
input{
  border: 1px;
  border-style: solid;
  border-radius: 10px;
  box-shadow: 0 0 1px 1px rgb(0, 36, 214);
}
input:hover{
  box-shadow: 0 0 1px 1px rgb(239, 0, 0);

}
.container{
 
}
.container-inner{

}
.box{
  margin: auto;
}
.address-display{
  margin: 10px;
  padding: 10px;

}
.address a{
  text-decoration: none;
  text-decoration-line: none;
  color: black;
}

.value{
  color: black;
  font-size: 25px;
}
.button-box{
}

.selected-account{
  font-size: 15px;
  height: 50px;
  width: 100px;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 10px;

}
.selected-account:hover{
  background-color: rgb(242, 241, 240);
  border-radius: 10px;
  transition: 0.2s;
}
.btn{
  
}
.connected-adrs{
  margin: 0px;
  padding: 0px;
}
/**settings page*/

.settings-menu{
  display: flex;
  flex-direction: column;
}
/**settings page*/
.showhide{
  display: flex;
  justify-content: center;
}
.settings-menu{
  display: flex;
  justify-content: center;
  width: 50%;
}
.key{
  color: red;
}
p{

  white-space:normal !important;
  word-wrap:break-word;
}
/**mnemonic alert*/
.alert{
  color: red;
  white-space:normal !important;
  word-wrap:break-word;
}
button{
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background-color: rgb(198, 198, 198);
  font-size: 20px;
}
button:hover{
  
}